.paginationWap {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
  background-color: #202223;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.page-item a {
  display: block;
  font-size: 16px;
  color: #c7c3bd;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  line-height: 1;
  transition: 0.3s ease;
}

.page-item:first-child a {
  color: #c7c3bd;
  background-color: transparent;
}

.page-item.active a {
  color: #d9e6e3;
  font-weight: 500;
  background-color: #ff5860;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-item:hover a {
  color: #fff;
  background-color: #ff5860;
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .page-item a {
    font-size: 15px;
    padding: 0 9px;
  }
}
